.brands {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.brands__list {
  @include list-reset();
}

.other-brands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.other-brands__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.brands__button {
  margin-bottom: 50px;
}
