.brands__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.brands__list {
  @include list-reset();
}

.other-brands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.other-brands__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.brands__button {
  margin-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .other-brands {
    justify-content: center;
  }

  .other-brands__item {
    margin: 0;
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .brands {
    padding: 40px 60px;
    background: url("../img/brands_background.jpg");
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
  }

  .brands__container {
    width: 50%;
    margin-right: auto;
  }
}
