.button {
  display: inline-block;
  min-width: 280px;
  height: 40px;
  font-family: $font-oswald;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  background-color: $base-color;
  border: none;
  cursor: pointer;

  &--show-more {
    background-color: $background-color;
    color: $font-grey;
  }
}
