.button {
  display: inline-block;
  min-width: 180px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  color: $title-color;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $button-color;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    background-color: $base-hover-color;
  }
}
