.footer {
  margin: 0 auto;
  padding: 10px 0;
  color: $title-color;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid $border-color;
}

.payments__title {
  margin: 0;
}

.copyright__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .footer {
    padding: 30px 0;
  }
}