.header__button {
  display: none;
}

.header {
  margin-bottom: 50px;
}

@media (min-width: $desktop-width) {
  .header__background {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    background-image: url("../img/header-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }

  .header__button {
    display: block;
    margin-right: 147px;

    a {
      text-decoration: none;
      color: $title-color;
    }
  }

  .header__container {
    border: 1px solid $base-color;
    border-radius: 15px;
  }
}
