
// .main-nav,
// .main-nav--no-js,
// .main-nav--open {
//   display: block;

//   &--closed {
//     display: none;
//   }
// }

.menu-list {
  display: flex;
  flex-direction: column;

  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;

  @include list-reset();
  margin: 0 auto;
  margin-bottom: 30px;

  // &--close {
  //   display: none;
  // }
}

.menu-list__item {
  display: inline-block;
  vertical-align: middle;
  height: 49px;
  line-height: 49px;
  margin: 0;
  border-bottom: 1px solid $border-color;
}

.menu-list__item-link {
  color: $base-font-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.main-nav__button {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  font-size: 24px;
  font-family: $font;
  color: $title-color;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  &--closed {
    background-image: url("../img/icon-mobile-menu.svg");
  }

  &--open::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
  }

  &--none {
    display: none;
  }
}

// @media (min-width: $tablet-width) {
//   .menu-button {
//     display: none;
//   }

//   .main-nav {
//     display: block;
//     padding: 0;
//     margin: 0;
//   }

//   .menu {
//     flex-direction: row;
//     justify-content: space-between;
//   }

//   .menu__item {
//     width: auto;
//     padding: 0 9px;
//     flex-grow: 1;
//     border: none;

//     &--active {
//       border-bottom: 2px solid #68b738;
//     }
//   }
// }

// @media (min-width: $desctop-width) {
//   .main-nav {
//     position: relative;
//   }

//   .menu__item {
//     font-weight: normal;

//     &--desctop-index::after {
//       position: absolute;
//       top: 0;
//       left: -126px;
//       z-index: -1;
//       content: "";
//       display: block;
//       width: 720px;
//       height: 696px;
//       background-image: url("../img/index-background-desktop@1x.jpg");
//       background-repeat: no-repeat;
//     }

//     &--desctop-index a {
//       color: #ffffff;
//     }

//     &--desctop-active {
//       border-bottom: 1px solid #ffffff;
//     }
//   }
// }
