@mixin font-bold() {
  font-family: $font;
  font-weight: bold;
}

@mixin title() {
  font-family: $font;
  color: $title-color;
  font-size: 42px;
  line-height: 59px;
  font-weight: normal;
}

@mixin list-reset() {
  list-style: none;
  padding: 0;
}
