$tablet-width: 768px;
$desctop-width: 1440px;
$base-color: #0055D3;
$base-hover-color: #FFF602;
$button-color: #D7D7D7;
$title-color: #000000;
$base-font-color: #383838;
$border-color: #D8D8D8;
$price-color: #8C8C8C;
$tab-background: #C4C4C4;
$font: "Montserrat", arial, sans-serif;
